* {
    font-family: "Roboto";
}

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

button {
    box-shadow: none !important;
    outline: none !important;
}

input {
    box-shadow: none !important;
    outline: none !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
